cool.carlosbueno.xyz {
	reverse_proxy localhost:3000 {
		header_up X-Forwarded-Host {host}
		header_up X-Forwarded-Proto {scheme}
	}
}

backend.carlosbueno.xyz {
	reverse_proxy localhost:3210
}

api.carlsobueno.xyz {
    reverse_proxy localhost:3211
}

dashboard.carlosbueno.xyz {
	reverse_proxy localhost:6791
}