cool.carlosbueno.xyz {
	reverse_proxy localhost:3000
}

backend.carlosbueno.xyz {
	reverse_proxy localhost:3210
}

api.carlsobueno.xyz {
    reverse_proxy localhost:3211
}

dashboard.carlosbueno.xyz {
	reverse_proxy localhost:6791
}